{% extends 'base.html' %} {% block title %} Edit User {% endblock %} {% block
content %}
<h1>Edit A User</h1>
<form class="userform" action="/users/{{user.id}}/edit" , method="POST">
  <label class="default-label" for="first_name">First Name</label>
  <input
    class="default-input"
    value="{{user.first_name}}"
    name="first_name"
    type="text"
    placeholder="Enter a first name"
  />
  <label class="default-label" for="last_name">Last Name</label>
  <input
    class="default-input"
    value="{{user.last_name}}"
    name="last_name"
    type="text"
    placeholder="Enter a last name"
  />
  <label class="default-label" for="image_url">Image Url</label>
  <input
    class="default-input"
    maxlength="150"
    value="{{user.image_url}}"
    name="image_url"
    type="text"
    placeholder="Enter a image url"
  />
  <a href="/users/{{user.id}}"
    ><button type="button" class="edit_cancel_btn btn btn-outline-primary">
      Cancel
    </button></a
  >
  <button type="submit" class="edit_add_btn btn btn-success">Save</button>
</form>
{% endblock %}
